/*  Верстав за допомогою Flex.
    :3-:17 Стилізую фонові лінії та вивожу їх на задній план */
#loader {
    display: inline-flex;
    position: absolute;
    top: -100%;
    left: 0;
    flex-direction: row;
    width: 100vw;
    justify-content: space-around;
    transition: ease 1.5s;
    z-index: -1;
}

#loader img {
    height: 100vh;
}

/*Розтягую головний блок на весь экран та позиціоную фонову картинку*/
.parent-main {
    width: 100vw;
    height: 100vh;
    background: url('../img/house_2 (1).png');
    background-repeat: no-repeat;
    background-size: 95%;
    background-position-y: -23px;
    background-position-x: 95px;
}

/* За допомогую div.main створюю бокові відступи  на весь контент */
.main {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-left: 12.5%;
    height: 100%;
}

/*Створив flex-block, позиціонував максимально вправо та элементи роподілив по бокам*/
.header {
    align-self: flex-end;
    width: 50%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*Вирівняв весь зміст у блоках контактних данних*/
.contacts {
    display: flex;
    align-items: center;
}

.contacts span {
    font-family: "Montserrat-500", sans-serif;
    font-size: 18px;
    line-height: 25px;
    color: #000;
    margin-left: 10px;
}

/* Стилізував заголовок */
h1 {
    font-family: "Montserrat-600", sans-serif;
    font-size: 100px;
    line-height: 80px;
    color: #DDDDDD;
    text-transform: uppercase;
}

/* "та комплектцючі" виділив у заголовку span'ом */
h1 span {
    font-family: "Montserrat-300", sans-serif;
    font-size: 48px;
    line-height: 85px;
}

/**/
.buy p {
    font-family: "Montserrat-500", sans-serif;
    font-size: 18px;
    line-height: 25px;
}

.buy p span {
    border: 2px solid #FA0105;
    color: #FA0105;
    padding: 5px;
    font-family: "Montserrat-600", sans-serif;
    font-size: 24px;
    line-height: 29px;
}

.buy button {
    font-family: "Montserrat-600", sans-serif;
    font-size: 16px;
    line-height: 20px;
    width: 210px;
    height: 45px;
    letter-spacing: .1em;
    color: #fff;
    background: linear-gradient(90deg, #FA0105 0%, #FF5154 99.83%);
    text-transform: uppercase;
    border: none;
}

.buy button:hover {
    background: linear-gradient(90deg, #FF4E50 0%, #FF8587 99.83%);
}

/*
    Стилізація модульного вікно.
    Сховав його за рамки екрана зверху.
    При виклику блок спускається на центр екрану.
*/
/*
    Success сховав правіше від форми.
    При відправці даних з форми, весь контент зміщується вліво.
*/
#modal {
    overflow: hidden;
    position: absolute;
    transition: ease 1s;
    display: flex;
    flex-direction: row;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 460px;
    height: 435px;
    background: #fff;
    outline: 1px solid #DDDDDD;
    box-sizing: border-box;
}

#modal form {

    width: 379px;
    height: 100%;
    margin-left: 40.5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#modal h2 {
    font-family: "Montserrat-600", sans-serif;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    align-self: center;
}

#modal label {
    font-family: "Montserrat-600", sans-serif;
    width: 95px;
    height: 17px;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: .05em;
    text-transform: uppercase;
}

#modal input {
    width: 379px;
    height: 47px;
    background-color: #f4f4f4;
    outline: none;
}

#modal input[type="submit"] {
    font-family: "Montserrat-600", sans-serif;
    font-size: 16px;
    line-height: 20px;
    width: 210px;
    height: 45px;
    background: linear-gradient(90deg, #FA0105 0%, #FF5154 99.83%);
    border: none;
    color: #fff;
    text-transform: uppercase;
}

#modal input[type="submit"]:hover {
    background: linear-gradient(90deg, #FF4E50 0%, #FF8587 99.83%);
}

/* .lock - абзац з текстом: "Ваші дані в безпеці" */
#modal .lock {
    font-family: "Montserrat-600", sans-serif;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: .05em;
    color: #DDDDDD;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 220px;
}

.modal-success {
    font-family: "Montserrat-600", sans-serif;
    width: 460px;
    height: 100%;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    line-height: 29px;
}

.modal-success p:last-child {
    width: 315px;
    height: 34px;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: .05em;
    text-align: center;
}

@media (max-width: 1024px) and (max-height: 1366px) {

    /* Сховав 2 фонових лінії. */
    #loader img:nth-child(-n+2) {
        display: none;
    }

    /* Змінив позиціонування фона */
    .parent-main {
        background: url('../img/house_2 (1).png');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: bottom;
        overflow: hidden;
    }

    /*Змінив відступи від боків екрану*/
    .main {
        width: 90%;
        margin-left: 5%;
    }

    .header {
        width: 100%;
        height: 150px;
        align-self: flex-end;
        align-content: center;
    }

    /* :255-:263 - стилізація логотипу*/
    .header > span {
        flex-grow: 1;
        display: flex;
    }

    .header > span img {
        justify-content: flex-start;
        align-content: center;
    }

    .contacts {
        padding: 0 20px;
    }

    .content {
        margin-top: 100px;
        height: 22%;
    }

    h1 {
        width: 556px;
        height: 200px;
        font-size: 72px;
        line-height: 80px;
    }

    h1 span {
        font-size: 36px;
        line-height: 85px;
    }
}

@media (max-width: 768px) and (max-height: 1024px) {

    #loader img:nth-child(-n+2) {
        display: none;
    }

    .parent-main {
        background-size: 126%;
        background-position-x: 107%;
        background-position-y: 115%;
    }

    .content {
        height: 26%;
        margin-top: 0;
    }

    h1 {
        font-size: 72px;
        line-height: 80px;
        width: 280px;
        height: 74px;
    }

    h1 span {
        width: 280px;
        height: 33px;
        font-size: 24px;
        line-height: 85px;
    }

    .buy p {
        width: 100%;
        height: 33px;
        font-size: 18px;
        line-height: 25px;
    }

    .buy p span {
        font-size: 24px;
    }

    .buy button {
        width: 210px;
        height: 45px;
        font-size: 16px;
        line-height: 20px;
    }
}

@media (max-width: 375px) and (max-height: 812px) {

    #loader img:nth-child(-n+4) {
        display: none;
    }

    .parent-main {
        background-position-y: 100%;
        background-position-x: 42%;
    }

    /*Сховав всі елементи контактних даних, окрім іконки телефону*/
    .location, .phone span {
        display: none;
    }

    h1 {
        font-size: 36px;
        line-height: 48px;
        margin: 0;
    }

    h1 span {
        font-size: 24px;
        line-height: 85px;
    }

    .buy p {
        font-size: 14px;
        line-height: 25px;
    }

    .buy p span {
        width: 65px;
        height: 30px;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: .1em;
    }

    .buy button {
        width: 140px;
        height: 40px;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: .1em;
    }

    /*Змінив розміри модульного вікна*/
    #modal {
        width: 300px;
        height: 500px;
    }

    #modal form {
        width: 250px;
        margin-left: 8.5%;
    }

    #modal h2 {
        font-size: 20px;
        line-height: 29px;
    }

    #modal label {
        width: 95px;
        height: 17px;
        font-size: 14px;
        line-height: 17px;
    }

    #modal input {
        width: 245px;
        height: 47px;
    }

    #modal input[type="submit"] {
        font-size: 16px;
        line-height: 20px;
        width: 210px;
        height: 45px;
    }

    .modal-success {
        margin-left: 180px;
    }

    .modal-success p:last-child {
        width: 280px;
    }
}


@media (max-width: 320px) and (max-height: 568px) {

    #loader img:nth-child(-n+4) {
        display: none;
    }

    h1 {
        font-size: 36px;
        line-height: 48px;
    }

    h1 span {
        font-size: 24px;
        line-height: 85px;
    }

    .buy p {
        font-size: 14px;
        line-height: 25px;
    }

    .buy p span {
        font-size: 14px;
        line-height: 17px;
    }
}

@media (min-width: 1025px) {
    /*  При екрані розміром Desktop до фону додається дві фонові картинки (кусти),
        за допомогою псевдоелементів.*/

    /*Нижній куст*/
    .parent-main::after {
        position: absolute;
        bottom: 0;
        content: "";
        background: url("../img/cedar.png");
        background-repeat: no-repeat;
        background-position-y: bottom;
        background-position-x: 480px;
        width: 100vw;
        height: 380px;
    }

    /*Боковий куст*/
    .parent-main::before {
        position: absolute;
        top: 0;
        content: "";
        background: url("../img/cedar_side.png");
        background-repeat: no-repeat;
        background-position-y: bottom;
        width: 230px;
        height: 100vh;
    }

    /*Cховав логотип*/
    .header > span {
        display: none;
    }
}
